*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}
header h1{
  text-align: center;
  color: #E53170;
  margin: 20px;
}
section p{
  text-align: center;
  margin: 10px;
}
.container{
  width: 80%;
  margin: auto;
}